.jumbotron {
    padding: 2rem 1rem;
    padding-top: 2rem;
    background: linear-gradient(135deg, rgb(249, 207, 234), rgb(255, 255, 255));
    color: rgb(138, 22, 95);  
  }

.container {
    align-items: center;
}
body{
    background: url(Image/BG.jpg) 0px 0px rgb(248, 246, 255); width: 100%;
    height: 100px;
background-blend-mode: overlay;
background-size: 100%;
}
.italic {
    font-style: italic;
    font-weight: bold;
}
.home {
    padding-top: 80px; 
  }

